RewriteEngine On
Options +FollowSymLinks
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>
RewriteBase /tsarevetsTeam

Options -Indexes

DirectoryIndex welcome.php

ErrorDocument 404 /tsarevetsTeam/404.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php


